.blue {
  position: relative;
  overflow: hidden;
}
.parallax-bg {
  background: url(/woman-in-black-jacket-and-jeans-standing-beside-wall-with-3956803.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150%;
}
.red {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  overflow: hidden;
}
.green {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.img-02 {
  background: url(/woman-in-white-sweater-standing-beside-plants-3271679.jpg);
}
.img-03 {
  background: url(/woman-s-face-1988681.jpg);
}
